<h2>Welcome to chat!</h2>
<p>Log in to continue</p>

<div>
  <div class="alert alert-danger" role="alert" ng-hide="errmsg.length == 0">
    <a class="pull-right" href="" ng-click="closeAlert()">&times;</a>
    {{errmsg}}
  </div>
  <div class="row">
    <div class="col-xs-4">
      <label>Username:</label>
      <input type="text" class="form-control" autofocus ng-model="nick" ng-keyup="checkIfEnter($event)" placeholder="Chose a username"  />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" ng-click="onLogin()">Login</button>
    </div>
  </div>

</div>
