<h2>Welcome {{userName}}</h2>
<p> Topic: {{room.topic}} </p>

<div style="max-height: 400px; min-height:400px; overflow-y: scroll; overflow-x:auto" class="col-md-4">
  <h3>Channel: {{room.name}} </h3>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th class="col-md-2"></th>
        <th class="col-md-10"></th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="line in room.messageHistory">
        <td>{{line.nick}}</td>
        <td>{{line.message}}</td>
      </tr>
    </tbody>
  </table>
  <div id="bottom"></div>
</div>



<div style="max-height: 400px; min-height:400px; overflow-y: scroll; overflow-x:auto" class="col-md-4">
  <h3>Private messages</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2"></th>
        <th class="col-md-10"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="msgObj in privateMsgs">
        <td>{{msgObj.nick}}</td>
        <td>{{msgObj.message}}</td>
      </tr>
    </tbody>
  </table>


  <div class="alert alert-warning" role="alert" ng-show="errorActive">
    <a class="pull-right" href="" ng-click="closeAlert()">&times;</a> {{errorMessage}}
  </div>
  <div  id="bottom2"></div>
</div>

<div class="col-md-4">
  <div class="input-group">
    <span class="input-group-btn">
        <button type="button" class="btn btn-danger" ng-click="leaveChannel()">Leave room&nbsp;&nbsp;</button>
      </span>

    <select ng-model="operation" class="form-control" >
      <option value="pm" selected>Private chat</option>
      <option value="op" ng-show="isUserOp">op</option>
      <option value="deop" ng-show="isUserOp">deop</option>
      <option value="kick" ng-show="isUserOp">kick</option>
      <option value="ban" ng-show="isUserOp">ban</option>
      <option value="unban" ng-show="isUserOp">unban</option>
    </select>
  </div>
  <div class="input-group" ng-show="isUserOp">
    <span class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="changeTopic()">Change topic</button>
      </span>
    <input type="text" class="form-control" ng-model="topicVal" ng-keyup="checkIfTopicEnter($event)" placeholder="Set new topic" />
  </div>

  <div class="input-group" ng-show="isUserOp">
    <span class="input-group-btn">
        <button type="button" class="btn btn-warning"  ng-click="changeChanPass()">Set password</button>
      </span>
    <input type="text" class="form-control" ng-model="newChannelPass" placeholder="Set channel password" ng-keyup="checkIfChanPassEnter($event)" placeholder="Set channel password" />
  </div>



  <ul>
    <li ng-repeat="ops in room.ops">
      <span>Op
        </span>
      <input type="button" class="btn btn-default" value="{{ops}}" ng-click="selectedUser(ops)" ng-readonly="true" />
    </li>

    <li ng-repeat="user in room.users">
      <input type="button" value="{{user}}" class="btn btn-default" ng-click="selectedUser(user)" ng-readonly="true" />
    </li>

    <li ng-repeat="banned in room.banned" ng-show="isUserOp">
      <input type="button" value="{{banned}}" class="btn btn-danger" ng-click="selectedUser(banned)" ng-readonly="true" />
    </li>

  </ul>
</div>
<div>
  <input type="text" class="form-control" ng-model="sendMsg" style="top: 400px;" ng-keyup="checkIfEnter($event)" />
</div>
