
<div class="col-xs-6" >
  <h2>Create/Join Channel</h2>
    <input type="text" ng-model="channel.roomName" class="form-control" ng-keyup="checkIfEnter($event)" placeholder="Channel name" /><br />
    <input type="text" ng-model="channel.pass" class="form-control" ng-keyup="checkIfEnter($event)" placeholder="Password"/><br />
    <input type="button" ng-click="joinChannel()" value="Join" />
</div>

<div class="col-xs-6">
  <h2>List of available channels</h2>
  <ul>
    <li>Room: name - topic</li>
    <li ng-repeat="room in rooms"><a ng-click="gotoRoom(room)">{{room.name}}:  {{room.topic}}</a></li>
  </ul>
</div>
